<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="49b01538-93cd-43fe-9ab2-e73cd9ca9921" Publisher="CN=win8admin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TravAbout.Windows</DisplayName>
    <PublisherDisplayName>win8admin</PublisherDisplayName>
    <Logo>Assets\TravAboutStoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TravAbout.Windows.App">
      <m2:VisualElements DisplayName="TravAbout.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\TravAboutSmallLogo.png" Description="TravAbout.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:SplashScreen Image="Assets\splash.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>